.jp-skin-container
  width: #{$width}px
  float: left
  font-family: $font-family
  +box-sizing(border-box)
  .clear
    clear: both
  .jp-skin
    &.flexible
      width: inherit
      padding: #{$player-padding}px
      border: 1px solid transparent
      border-radius: #{$player-radius}px
      overflow: hidden
      background: $bg
      float: left
      display: inline
      clear: both
      font-family: $font-family
      position: relative
      +box-sizing(border-box)
      +clearfix
      a:link, a:visited
        text-decoration: none
        font-family: $font-family
      .jp-type-playlist
        position: relative
        float: left
        clear: both
        width: 100%
      .jp-jplayer
        +display_player
        margin-bottom: 10px
        height: 0
        img
          width: 100% !important
      .jp-video-play
        visibility: hidden
      .jp-interface
        padding: 0 14px 14px
      .jp-progress
        cursor: pointer
        height: 16px
        clear: both
        border-radius: 2px
        +progress_bg
        .jp-seek-bar
          height: inherit
          .jp-play-bar
            +progress_fg
            height: inherit
      .jp-current-time, .jp-duration
        color: $volume-bg
        font-size: 0.8em
      .jp-current-time
        float: left
      .jp-duration
        float: right
      .jp-controls-holder
        ul
          clear: both
          border: 1px solid transparent
          padding: 0
          float: left
          width: 100%
          margin: -3px auto 10px
          +box-sizing(border-box)
          li
            list-style-type: none
            float: left
            text-align: center
      .jp-controls
        margin-bottom: 15px
        position: relative
        display: block
        height: #{$big-button-size}px
        li
          line-height: #{$big-button-line-height}px
          border-radius: 50%
          border: 0
          position: relative
          +control_bg
          a:link, a:visited
            color: $button-fg
            background: $button-bg
            border: 1px solid #CCC
            border-radius: 50%
            display: block
            width: 70%
            height: 70%
            margin: #{$button-font-margin}px
            outline: none
            position: relative
            +box-shadow(0 1px 1px 0px hsla(0, 0%, 0%, 0.30))
          a:hover, a:focus, a:active
            border: 1px solid transparent
            +button_hover_bg
          .before, .after
            content: ""
            position: absolute
            top: 26px
            left: 0
            border: solid transparent
            background: transparent
            line-height: 0
            height: 0
        .jp-previous, .jp-next, .jp-play, .jp-pause, .jp-stop
          position: absolute
          left: 0
        .jp-previous, .jp-next
          width: #{$small-button-size}px
          height: #{$small-button-size}px
          margin-top: #{$small-button-margin-top}px
          line-height: 105px
          a:link, a:visited
            line-height: #{$small-button-line-height}px
            width: 67%
            height: 67%
            span
              font-size: #{$small-button-font-size}em
        .jp-previous
          left: 0
          //margin-left: #{$prev-margin-left}px
          .before, .after
            left: 10px
            border-width: 12.5px 13px
            border-right-color: #000
          .after
            left: 19px
        .jp-next
          left: #{$small-button-size * 3 - 29}px
          //margin-left: -#{$next-margin-left}px
          .before, .after
            left: 29px
            border-width: 12.5px 13px
            border-left-color: #000
          .after
            left: 39px
        .jp-play, .jp-stop, .jp-pause
          width: #{$big-button-size}px
          height: #{$big-button-size}px
          //margin-left: -#{$button-margin-left}px
        li.jp-play
          z-index: 20
          left: #{$small-button-size - 16}px
          .before
            top: 30px
            left: 36px
            border-width: 14.5px 24px
            border-left-color: #000
        .jp-pause
          left: #{$small-button-size - 16}px
          .before, .after
            top: 30px
            left: 30px
            border-width: 14.5px 6px
            border-color: #000
          .after
            left: 47px
        .jp-stop
          z-index: 15
          left: #{$small-button-size * 2 - 24}px
          .before
            top: 30px
            left: 30px
            border-width: 14.5px 14.5px
            border-color: #000
      .jp-volume-bar
        clear: both
        height: 8px
        background: $volume-bg
        border-radius: 2px
        margin-top: 5px
        .jp-volume-bar-value
          cursor: pointer
          height: inherit
          background: $volume-level-bg
      ul.jp-controls-volume
        margin: 4px auto
        height: 15px
        float: left
        width: 100%
        a:link, a:visited
          display: block
          outline: none
          position: relative
          color: $volume-bg
        a:hover
          color: $volume-level-bg
          .before
            border-right-color: $volume-level-bg
          .after
            border-color: $volume-level-bg
        .before, .after
          content: ""
          position: absolute
          border: solid transparent
          background: transparent
          line-height: 0
          height: 0
        .before
          border-width: 7px 9px 7px 0
          border-right-color: $volume-bg
          z-index: 50
        .after
          z-index: 70
          border-width: 3px 4px 3px 0
          border-color: $volume-bg
          top: 4px
          left: 0px
        .x
          position: absolute
          left: 11px
          top: -1px
          font-size: 12px
          font-family: Arial
          font-weight: bold
          color: $volume-bg
        .wave
          border-color: $volume-bg
          position: absolute
          width: 6px
          border-right: 1px solid
        .wave1
          left: 4px
          top: 5px
          height: 4px
        .wave2
          left: 6px
          top: 3px
          height: 7.9px
        .wave3
          left: 8px
          top: 1px
          height: 11.5px
        li
          float: left
        .jp-volume-max
          float: right
          margin-right: 18px
      ul.jp-toggles
        display: none
      .jp-playlist
        clear: both
        float: left
        width: 100%
        ul
          margin: 0
          padding: 0
          width: 100%
          clear: both
          float: left
          li
            list-style-type: none
            background: $episode-bg
            margin: 3px 0
            div
              a:link, a:visited
                color: $episode-fg
                text-decoration: none
                font-size: #{$episode-font-size}px
                letter-spacing: -0.5px
                font-weight: normal
                outline: none
              .jp-playlist-item-remove
                float: right
              .jp-playlist-item
                display: block
                padding: #{$episode-padding}px
                .jp-artist
                  font-size: 0.625em
                  color: $episode-option
                  display: none
              .jp-free-media
                float: right
                color: $episode-option
                margin-right: 10px
                display: none
                a
                  font-size: 0.625em
            &.jp-playlist-current
              background: $episode-active
            &:hover
              background: $episode-hover

  .jp-powered-by
    background: $powered-by-bg
    color: $powered-by-fg
    float: right
    font-size: #{$powered-font-size}px
    padding: #{$powered-padding-h}px #{$powered-padding-v}px
    border-bottom-right-radius: #{$powered-radius}px
    border-bottom-left-radius: #{$powered-radius}px
    margin-left: 5px
    margin-right: 15px
