.jp
.pfm-widget
  .title= title
  img(src="http://a1.res.cloudinary.com/playerfm/image/fetch/c_fill,d_graymike-bg.png,h_120,w_120/#{imageURL}")
.jpc.jp-audio.playerfm-series
  .jp-type-playlist
    .jp-gui
      .jp-interface
        .jp-progress
          .jp-seek-bar
            .jp-play-bar
        .jp-current-time
        .jp-duration
        .jp-title
          ul
            li
        .jp-controls-holder
          ul.jp-controls
            li
              a.jp-previous(href='javascript:;', tabindex='1') previous
            li
              a.jp-play(href='javascript:;', tabindex='1') play
            li
              a.jp-pause(href='javascript:;', tabindex='1') pause
            li
              a.jp-next(href='javascript:;', tabindex='1') next
            li
              a.jp-stop(href='javascript:;', tabindex='1') stop
            li
              a.jp-mute(href='javascript:;', tabindex='1', title='mute') mute
            li
              a.jp-unmute(href='javascript:;', tabindex='1', title='unmute') unmute
            li
              a.jp-volume-max(href='javascript:;', tabindex='1', title='max volume') max volume
          .jp-volume-bar
            .jp-volume-bar-value
    .jp-playlist
      ul
        // The method Playlist.displayPlaylist() uses this unordered list 
        li
    .jp-no-solution
      span Update Required
      To play the media you will need to either update your browser to a recent version or update your
      a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin
