.clear {
  clear: both; }

.jp-skin.flexible {
  width: 480px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 15px;
  overflow: hidden;
  background: #181817;
  float: left;
  display: inline;
  clear: both;
  font-family: "Ubuntu Mono", sans-serif;
  *zoom: 1; }
  .jp-skin.flexible:before, .jp-skin.flexible:after {
    content: " ";
    display: table; }
  .jp-skin.flexible:after {
    clear: both; }
  .jp-skin.flexible a:link, .jp-skin.flexible a:visited {
    color: #b4b3b5;
    text-decoration: none;
    font-family: "Ubuntu Mono", sans-serif; }
  .jp-skin.flexible .jp-type-playlist {
    position: relative; }
    .jp-skin.flexible .jp-type-playlist .jp-jplayer {
      display: block;
      margin-bottom: 10px; }
      .jp-skin.flexible .jp-type-playlist .jp-jplayer img {
        width: 100% !important; }
    .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface {
      padding: 14px; }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-progress {
        height: 16px;
        clear: both;
        border-radius: 2px;
        background-color: #5b0b01;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b0b01), color-stop(51%, #5b0b01), color-stop(51%, #4b0900), color-stop(100%, #4b0900));
        background-image: -webkit-linear-gradient(top, #5b0b01 0%, #5b0b01 51%, #4b0900 51%, #4b0900 100%);
        background-image: -moz-linear-gradient(top, #5b0b01 0%, #5b0b01 51%, #4b0900 51%, #4b0900 100%);
        background-image: -ms-linear-gradient(top, #5b0b01 0%, #5b0b01 51%, #4b0900 51%, #4b0900 100%);
        background-image: -o-linear-gradient(top, #5b0b01 0%, #5b0b01 51%, #4b0900 51%, #4b0900 100%);
        background-image: linear-gradient(top, #5b0b01 0%, #5b0b01 51%, #4b0900 51%, #4b0900 100%); }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-current-time, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-duration {
        color: #681f17;
        font-size: 0.8em; }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-current-time {
        float: left; }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-duration {
        float: right; }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-toggles, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls-volume {
        clear: both;
        border: 1px solid transparent;
        padding: 0;
        float: left;
        width: 100%;
        margin: 4px auto; }
        .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-toggles li, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls-volume li {
          list-style-type: none;
          float: left;
          text-align: center; }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls {
        margin-bottom: 15px; }
        .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-previous, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-next, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-play, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-stop, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-pause {
          line-height: 120px;
          border-radius: 50%;
          border: 1px solid transparent;
          background-color: #f6f6f6;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #d8d8d8));
          background-image: -webkit-linear-gradient(top, #f6f6f6 0%, #d8d8d8 100%);
          background-image: -moz-linear-gradient(top, #f6f6f6 0%, #d8d8d8 100%);
          background-image: -ms-linear-gradient(top, #f6f6f6 0%, #d8d8d8 100%);
          background-image: -o-linear-gradient(top, #f6f6f6 0%, #d8d8d8 100%);
          background-image: linear-gradient(top, #f6f6f6 0%, #d8d8d8 100%); }
        .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-previous, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-next {
          width: 112px;
          height: 112px;
          margin-top: 7px;
          line-height: 105px; }
        .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-previous {
          margin-left: 3%; }
        .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-next {
          margin-left: -23px; }
        .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-play, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-stop, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-pause {
          width: 127px;
          height: 127px;
          margin-left: -20px; }
        .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-mute {
          clear: left;
          margin-right: 5px; }
        .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-mute, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-unmute, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls li.jp-volume-max {
          margin-top: 10px; }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder .jp-volume-bar {
        clear: both;
        height: 8px;
        background: #640c00;
        border-radius: 2px;
        margin-top: 5px; }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls-volume li.jp-mute, .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls-volume li.jp-unmute {
        float: left; }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-controls-volume li.jp-volume-max {
        float: right; }
      .jp-skin.flexible .jp-type-playlist .jp-gui .jp-interface .jp-controls-holder ul.jp-toggles {
        display: none; }
    .jp-skin.flexible .jp-type-playlist .jp-playlist {
      clear: both;
      float: left;
      width: 100%; }
      .jp-skin.flexible .jp-type-playlist .jp-playlist ul {
        margin: 0;
        padding: 0;
        width: 100%;
        clear: both;
        float: left; }
        .jp-skin.flexible .jp-type-playlist .jp-playlist ul li {
          list-style-type: none;
          padding: 8px 15px;
          background: #101114;
          margin: 3px 0; }
          .jp-skin.flexible .jp-type-playlist .jp-playlist ul li div a:link, .jp-skin.flexible .jp-type-playlist .jp-playlist ul li div a:visited {
            color: white;
            text-decoration: none;
            font-size: 1em;
            letter-spacing: -0.5px;
            font-weight: normal; }
          .jp-skin.flexible .jp-type-playlist .jp-playlist ul li div .jp-playlist-item-remove {
            float: right; }
          .jp-skin.flexible .jp-type-playlist .jp-playlist ul li div .jp-playlist-item .jp-artist {
            font-size: 0.625em;
            color: #cccccc;
            font-style: italic; }
          .jp-skin.flexible .jp-type-playlist .jp-playlist ul li div .jp-free-media {
            float: right;
            color: #cccccc;
            margin-right: 10px; }
            .jp-skin.flexible .jp-type-playlist .jp-playlist ul li div .jp-free-media a {
              font-size: 0.625em; }
          .jp-skin.flexible .jp-type-playlist .jp-playlist ul li.jp-playlist-current {
            background: #3a3938; }
          .jp-skin.flexible .jp-type-playlist .jp-playlist ul li:hover {
            background: #252323; }
