!!!5

%h3 My Blog

%p This page simulates a blog or podcast homepage which would be embedding the widget.

%h3 Sidebar
%a.playerfm-widget(href='http://player.fm/series/for-immediate-release-podcast') Subscribe to E911 Talk PodCast on Player FM
%script(src='series/widget.js')
