!!!5

%h3 My Blog

%p Hi this is my blog etc

%h3 Sidebar
%a.playerfm-widget(href='http://player.fm/series/e911-talk-podcast-10766') Subscribe to E911 Talk PodCast on Player FM
%script(src='series/widget.js')
